## Ternary Conditionals / Ternary Operators

In [2]:
condition = True

if condition:
    x = 1
else:
    x = 0
    
print(x)

1

In [4]:
x = 1 if condition else 0

print(x)

1

## Underscore Placeholders

In [5]:
num1 = 1000000000
num2 = 10000000

total = num1 + num2

print(total)

1010000000

In [9]:
num1 = 10_000_000_000
num2 = 100_000_000

total = num1 + num2
print(total)

print(f'{total:,}')

10100000000
10,100,000,000

## Context Managers

In [15]:
f = open('test.txt', 'r')

file_contents = f.read()

f.close()

words = file_contents.split(' ')
word_count = len(words)
print(word_count)

2

In [18]:
with open('test.txt', 'r') as f:
    file_contents = f.read()
    
words = file_contents.split(' ')
word_count = len(words)
print(word_count)

2

## Enumerate (Better Loop)

If we need to iterate over a list and need to track both the index and the current item, most people would use the range(len) syntax. In this example we want to iterate over a list, check if the current item is negative, and set the value in our list to 0 in this case. While the range(len) syntax works it's much nicer to use the built-in enumerate function here. THis return both the current index and the current item as a tuple. So we can directly check the value here and also access the item with the index.

In [38]:
data = [1, 2, -3, -4]

# weak
for i in range(len(data)):
    if data[i] < 0:
        data[i]  = 0

In [39]:
data

[1, 2, 0, 0]

<b> Correct way

In [40]:
data = [1, 2, -3, -4]

for idx, num in enumerate(data):
    if num < 0:
        data[idx] = 0

In [41]:
data

[1, 2, 0, 0]

In [19]:
names = ['Corey','Chris','Dave','Travis']

for name in names:
    print(name)

Corey
Chris
Dave
Travis

In [20]:
index = 0
for name in names:
    print(index, name)
    index +=1

0 Corey
1 Chris
2 Dave
3 Travis

In [21]:
for index, name in enumerate(names):
    print(index, name)

0 Corey
1 Chris
2 Dave
3 Travis

In [22]:
for index, name in enumerate(names, start = 1):
    print(index, name)

1 Corey
2 Chris
3 Dave
4 Travis

## Zip

In [26]:
names = ['Peter Parker', 'Clark Kent','Wade Wilson','Bruce Wayne']
heroes = ['Spiderman','Superman','Deadpool','Batman']
universe = ['Marvel','Dc','Marvel','DC']

for index, name in enumerate(names):
    hero = heroes[index]
    print(f'{name} is actually {hero}')

Peter Parker is actually Spiderman
Clark Kent is actually Superman
Wade Wilson is actually Deadpool
Bruce Wayne is actually Batman

In [27]:
for name, heroes in zip(names, heroes):
    print(f'{name} is actually {hero}')

Peter Parker is actually Batman
Clark Kent is actually Batman
Wade Wilson is actually Batman
Bruce Wayne is actually Batman

In [29]:
for name, heroes, universe in zip(names, heroes, universe):
    print(f'{name} is actually {hero} from {universe}')

Peter Parker is actually Batman from Marvel
Clark Kent is actually Batman from Dc
Wade Wilson is actually Batman from Marvel
Bruce Wayne is actually Batman from DC

# Unpacking

In [30]:
## Normal

items = (1,2)

print(items)

(1, 2)

In [31]:
a,b = (1,2)

print(a)
print(b)

1
2

In [32]:
a, _ = (1,2)

print(a)

1

In [34]:
## 

a, b, *c = (1,2,3,4,5)

In [35]:
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

# List Comprehension instead of raw for-loops

Let's say we want to create a list with certain values, in this case a list with all the squared numbers between 0 and 9. The tedious way would be to create an empty list, then use a for loop, do our calculation, and append it to the list:

In [42]:
squares = []
for i in range(10):
    squares.append(i*i)

In [44]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<b> Instead

In [45]:
squares = [i*i for i in range(10)]

In [46]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Sort complex iterables with the built-in sorted() method

If we need to sort some iterable, eg. a list a tuple or a dictionary, we don't need to implement the sorting algorithm ourselves. We can simply use the built-in sorted function. This automatically sorts the numbers in ascending order and return a new list. If we want to have the result in descending order, we can use the argument reverse = True. As I said, this works on any iterable, so here we could also use a tuple. But note that the result is a list again.

In [47]:
data = [3, 5, 1, 10, 9]

sorted_data = sorted(data, reverse = True)

In [48]:
sorted_data

[10, 9, 5, 3, 1]

# Lambda

A lambda function is a small anonymous functions.

A lambda function can take any number of arguments, but can only have one expresssion.

`lambda arguments : expression`

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
x = lambda a, b, c: a + b + c
print(x(5,6,2))

13

<b> Why use Lambda functions? </b>

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a functon defintion that takes one argument, and that argument will be multiplied with an unknown number:

In [7]:
def myfunc(n):
    return lambda a : a * n

In [9]:
mydoubler = myfunc(2)

In [10]:
print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [11]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

Or, use the same function definition to make both functions, in the same program:

In [12]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [28]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

TypeError: 'list' object is not callable

## Python .apply()

Python apply allow the users to pass a function and apply it on every single value of the Pandas series. It comes as a huge improvement for the pandas library as this function helps to segregate data according to the conditions required due to which it is efficiently used in data science and machine learning.

<b> Example #1: </b>

The following example passes a function and checks the value of each element in series and returns low, normal or High accordingly.

In [15]:
import pandas as pd

## squeeze creates a Series from DataFrame

s = pd.read_csv('stock.csv', squeeze = True)

In [16]:
def fun(num):
    
    if num < 200:
        return "Low"
    
    elif num >= 200 and num < 400:
        return "Normal"
    
    else:
        return "High"

In [17]:
## passing function to apply and storing returned series in new

new = s.apply(fun)

In [18]:
## printing first 3 element
print(new.head(3))

0    Low
1    Low
2    Low
Name: Stock Price, dtype: object

In [20]:
new

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
3007    High
3008    High
3009    High
3010    High
3011    High
Name: Stock Price, Length: 3012, dtype: object

In [21]:
df = pd.read_csv("stock.csv")
df

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

<b> Example #2 : </b>

In the following example, a temporary anonymous function is made in .apply itself using lambda. It adds 5 to each value in series and return a new series.

In [22]:
s = pd.read_csv("stock.csv", squeeze = True)

## adding 5 to each value

new = s.apply(lambda num: num + 5)

## printing first 5 element of old and new series
print(s.head(), '\n', new.head())

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64
 0    55.12
1    59.10
2    59.65
3    57.38
4    57.95
Name: Stock Price, dtype: float64

In [23]:
## printing last 5 elements of old and new series
print('\n\n', s.tail(), '\n', new.tail())

 3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64
 3007    777.88
3008    776.07
3009    778.18
3010    776.61
3011    787.22
Name: Stock Price, dtype: float64